<% provide(:title, 'Equipamentos') %>

<p id="notice"><%= notice %></p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Cidade</th>
      <th>Estado</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @equipaments.each do |equipament| %>
      <tr>
        <td><%= equipament.nome %></td>
        <td><%= equipament.cidade %></td>
        <td><%= equipament.estado %></td>
        <td><%= link_to 'Editar', edit_equipament_path(equipament) %></td>
        <td><%= link_to 'Excluir', equipament, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo equipamento', new_equipament_path %>
