<p id="notice"><%= notice %></p>

<p>
  <strong>Chave:</strong>
  <%= @equipament.chave %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @equipament.nome %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @equipament.cidade %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @equipament.estado %>
</p>

<%= link_to 'Edit', edit_equipament_path(@equipament) %> |
<%= link_to 'Back', equipaments_path %>
