<%= form_for(sensor) do |f| %>
  <% if sensor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sensor.errors.count, "error") %> prohibited this sensor from being saved:</h2>

      <ul>
      <% sensor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :chave %>
    <%= f.text_field :chave %>
  </div>

  <div class="field">
    <%= f.label :sensor0 %>
    <%= f.number_field :sensor0 %>
  </div>

  <div class="field">
    <%= f.label :sensor1 %>
    <%= f.number_field :sensor1 %>
  </div>

  <div class="field">
    <%= f.label :sensor2 %>
    <%= f.number_field :sensor2 %>
  </div>

  <div class="field">
    <%= f.label :sensor3 %>
    <%= f.number_field :sensor3 %>
  </div>

  <div class="field">
    <%= f.label :sensor4 %>
    <%= f.number_field :sensor4 %>
  </div>

  <div class="field">
    <%= f.label :sensor5 %>
    <%= f.number_field :sensor5 %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
