<div class="divform">
  <div class="row">
    <div class="col-md-3 col-md-offset-1">
    
    <br>
    
    <table class="table table-striped">
      <tr>
        <td>
          <div class="input-group date">
            <%= text_field(:auxdata, :auxdata, class: 'form-control', value: params[:auxdata].to_date.strftime("%d/%m/%Y")) %>
          </div>
        </td>
        <td>
          <%= ((@valor_dia / 24) * 0.18).round(2) %>
        </td>
      </tr>
    </table>
    
    <script>
      $("#auxdata_auxdata").datepicker({ 
        dateFormat: 'dd/mm/yy',
        showOn: "button",
        buttonImage: "assets/calendario.png",
        buttonImageOnly: true,
        buttonText: "Select date"
      });
    </script>
    
    <script>
      $("#auxdata_auxdata").change( function() {
        var auxdata = $("#auxdata_auxdata").val();
        var chave = $("#chave_chave").val();
        document.location.href="/sensors?ativa=D&auxdata="+auxdata+"&chave="+chave;
      });
    </script>
    
    <br>
    
    <table>
      <tr>
        <td>
          <div id="chartContainer">
            <%= @chart.render() %>
          </div>
        </td>
        <td>
          <div id="chart2Container">
            <%= @chart2.render() %>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div id="chart3Container">
            <%= @chart3.render() %>
          </div>
        </td>
        <td>
          <div id="chart4Container">
            <%= @chart4.render() %>
          </div>
        </td>
      </tr>
    </table>
    
    <br><br><br><br>
    
    </div>
  </div>
</div>
