<div class="divform">
  <div class="row">
    <div class="col-md-2 col-md-offset-1">
      
      <br>
      
      <table class="table table-striped">
        <tr>
          <td>
            <%= select(:auxano2, :auxano2, [
              ['2016', 2016], ['2017', 2017],
              ['2018', 2018], ['2019', 2019],
              ['2020', 2020], ['2021', 2021],
              ['2022', 2022], ['2023', 2023],
              ['2024', 2024], ['2025', 2025],
              ['2026', 2026], ['2027', 2027],
              ['2028', 2028], ['2029', 2029], ['2030', 2030]
            ], {prompt: 'Selecione o ano', selected: params[:auxdata].to_date.strftime("%Y").to_i}, {class: 'form-control'}) %>
          </td>
        </tr>
      </table>
      
      <%= ((((@valor_ano / 12) / 30) / 24) * 0.18).round(2) %>
      
      <table>
        <tr>
          <td>
            <div id="chartanoContainer">
              <%= @chartano.render() %>
            </div>
          </td>
          <td>
            <div id="chart2anoContainer">
              <%= @chart2ano.render() %>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div id="chart3anoContainer">
              <%= @chart3ano.render() %>
            </div>
          </td>
          <td>
            <div id="chart4anoContainer">
              <%= @chart4ano.render() %>
            </div>
          </td>
        </tr>
      </table>      
      <br>
      
      <script>
        $("#auxano2_auxano2").change( function() {
          var auxano = $("#auxano2_auxano2").val().toString();
          var chave = $("#chave_chave").val();
          
          document.location.href="/sensors?ativa=A&auxdata=01/01/"+auxano+"&chave="+chave;
        });
      </script>
    </div>
  </div>
</div>