
<div class="divform">
  <div class="row">
    <div class="col-md-3 col-md-offset-1">
      
      <br>
      
      <table class="table table-striped">
        <tr>
          <td>
            <%= select(:auxmes, :auxmes, [
            ['Janeiro', 1], ['Fevereiro', 2], ['Março', 3], ['Abril', 4],
            ['Maio', 5], ['Junho', 6], ['Julho', 7], ['Agosto', 8],
            ['Setembro', 9], ['Outubro', 10], ['Novembro', 11], ['Dezembro', 12]
            ], {prompt: 'Selecione o mês', selected: params[:auxdata].to_date.strftime("%m").to_i}, {class: 'form-control atualizarmes'}) %>
          </td>
          <td>
            <%= select(:auxano, :auxano, [
              ['2016', 2016], ['2017', 2017],
              ['2018', 2018], ['2019', 2019],
              ['2020', 2020], ['2021', 2021],
              ['2022', 2022], ['2023', 2023],
              ['2024', 2024], ['2025', 2025],
              ['2026', 2026], ['2027', 2027],
              ['2028', 2028], ['2029', 2029], ['2030', 2030]
            ], {prompt: 'Selecione o ano', selected: params[:auxdata].to_date.strftime("%Y").to_i}, {class: 'form-control atualizarmes'}) %>
          </td>
        </tr>
      </table>
      
      <%= (((@valor_mes / 30) / 24) * 0.18).round(2) %>
      
      <table>
        <tr>
          <td>
            <div id="chartmesContainer">
              <%= @chartmes.render() %>
            </div>
          </td>
          <td>
            <div id="chart2mesContainer">
              <%= @chart2mes.render() %>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div id="chart3mesContainer">
              <%= @chart3mes.render() %>
            </div>
          </td>
          <td>
            <div id="chart4mesContainer">
              <%= @chart4mes.render() %>
            </div>
          </td>
        </tr>
      </table>
      
      <br>
      
      <script>
        $(".atualizarmes").change( function() {
          var auxmes = $("#auxmes_auxmes").val().toString();
          var auxano = $("#auxano_auxano").val().toString();
          var chave = $("#chave_chave").val();
          
          document.location.href="/sensors?ativa=M&auxdata=01/"+auxmes+"/"+auxano+"&chave="+chave;
        });
      </script>
    </div>
  </div>
</div>
