<p id="notice"><%= notice %></p>

<% provide(:title, 'Sensores') %>

<%= form_tag(sensors_path, method: "get") do %>
<%= text_field_tag :auxdata, params[:auxdata] %>
<%= submit_tag "Buscar", name: nil%>
<% end %>

<script>
  $( "#auxdata" ).datepicker({ dateFormat: 'dd/mm/yy' });
</script>

<div id="chartContainer">
  <%= @chart.render() %>
</div>

<br><br><br><br><br><br><br><br><br><br><br>