<% provide(:title, 'Sensores') %>

<p id="notice"><%= notice %></p>

<%= hidden_field(:chave, :chave, value: params[:chave]) %>

<ul class="nav nav-tabs">
  
  <% if session[:ativa] == 'D' %>
  <li class="active">
  <% elsif %>
  <li>
  <% end %>  
  
  <a data-toggle="tab" href="#dia">Dia</a></li>
  
  <% if session[:ativa] == 'M' %>
  <li class="active">
  <% elsif %>
  <li>
  <% end %> 
  
  <a data-toggle="tab" href="#mes">Mês</a></li>
  
  <% if session[:ativa] == 'A' %>
  <li class="active">
  <% elsif %>
  <li>
  <% end %> 
  
  <li><a data-toggle="tab" href="#ano">Ano</a></li>
</ul>

<div class="tab-content">
  
  <% if session[:ativa] == 'D' %>
  <div id="dia" class="tab-pane fade in active">
  <% elsif %>
  <div id="dia" class="tab-pane fade">
  <% end %>  
  
    <%# Gráfico visão do dia %>    
    <%= render 'grafdia' %>
    <%# Gráfico visão do dia %>
  </div>
  
  <% if session[:ativa] == 'M' %>
  <div id="mes" class="tab-pane fade in active">
  <% elsif %>
  <div id="mes" class="tab-pane fade">
  <% end %>  
  
    
    <%# Gráfico visão do mês %>
    <%= render 'grafmes' %>
    <%# Gráfico visão do mês %>
    
  </div>
  
  <% if session[:ativa] == 'A' %>
  <div id="ano" class="tab-pane fade in active">
  <% elsif %>
  <div id="ano" class="tab-pane fade">
  <% end %>
  
    
    <%# Gráfico visão do ano %>
    <%= render 'grafano' %>
    <%# Gráfico visão do ano %>
    
  </div>
</div>
