<p id="notice"><%= notice %></p>

<p>
  <strong>Chave:</strong>
  <%= @sensor.chave %>
</p>

<p>
  <strong>Sensor0:</strong>
  <%= @sensor.sensor0 %>
</p>

<p>
  <strong>Sensor1:</strong>
  <%= @sensor.sensor1 %>
</p>

<p>
  <strong>Sensor2:</strong>
  <%= @sensor.sensor2 %>
</p>

<p>
  <strong>Sensor3:</strong>
  <%= @sensor.sensor3 %>
</p>

<p>
  <strong>Sensor4:</strong>
  <%= @sensor.sensor4 %>
</p>

<p>
  <strong>Sensor5:</strong>
  <%= @sensor.sensor5 %>
</p>

<%= link_to 'Edit', edit_sensor_path(@sensor) %> |
<%= link_to 'Back', sensors_path %>
